<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tubefetch</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='/script/script.js') }}"></script>
    </head>
    <body>
        <div class="navbar">
            <h1 class="title">TUBEFETCH</h1>
            <div class="links">
                <a href="/">HOME</a>
                <a href="about">ABOUT</a>
                <a href="contact">CONTACT</a>
            </div>
        </div>
        <h1 class="maintitle">TUBEFETCH</h1>
        <div class="content">
            <p>TubeFetch is a versatile YouTube downloader designed to offer users complete flexibility when downloading videos, audio files, or entire playlists. Developed as a user-friendly web application, it simplifies the process of obtaining media content from YouTube, making it easily accessible in various formats.</p>
            <p>TubeFetch stands out by providing a seamless experience with a streamlined interface that supports downloading content in multiple resolutions and file formats. Whether users need high-definition videos or lightweight audio files, TubeFetch caters to all these needs. Additionally, the app ensures a hassle-free experience for bulk downloads, allowing users to download entire playlists with a single click.</p>
            <p>Overall, TubeFetch is a robust tool, emphasizing flexibility, speed, and ease of use, which positions it as an essential app for anyone looking to manage their YouTube downloads efficiently.</p>
        </div>
    </body>
</html>