<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../static/style/style.css">
    </head>
    <body>
        <div class="bg-div" style="height: 50vh;">
            <div class="credits">
                <p>Project by Codezy93</p>
                <a href="https://viraj-paradkar.vercel.app/" target="_blank"><img width="48" height="48" src="https://img.icons8.com/fluency/48/domain.png" alt="domain"/></a>
                <a href="https://github.com/Codezy93" target="_blank"><img width="48" height="48" src="https://img.icons8.com/color/48/github--v1.png" alt="github--v1"/></a>
                <a href="https://x.com/Codezy93" target="_blank"><img width="48" height="48" src="https://img.icons8.com/fluency/48/twitterx--v1.png" alt="twitterx--v1"/></a>
                <a href="https://www.reddit.com/user/Codezy93/" target="_blank"><img width="48" height="48" src="https://img.icons8.com/fluency/48/reddit.png" alt="reddit"/></a>
            </div>
            <div class="search">
                <h1>TUBE FETCH</h1><br>
                <form action="" method="post">
                    <input name="URL" placeholder="Enter the URL" class="URL" type="url">
                    <br>
                    <input type="submit" class="submit">
                </form>
            </div>
            <img class="homepage-image" src="../static/assets/vector/homepage-vector.svg">
            <div class="title-div">
                <h1>YouTube Downloader</h1><br>
                <h2>One Stop to download all your favorite videos, audios and playlists</h2><br>
                <h4>Download out mobile app now !</h4>
                <div class="mobile-apps">
                    <img width="48" height="48" src="https://img.icons8.com/fluency/48/apple-app-store.png" alt="apple-app-store"/>
                    <img width="48" height="48" src="https://img.icons8.com/fluency/48/google-play-store-new.png" alt="google-play-store-new"/>
                </div>
            </div>
        </div>
        <div class="trending">
            <p class="trending-title">Trending<br></p>
            <div class="trending-grid">
                <div class="tile">
                    <img src="https://i.ytimg.com/vi/s2-WLE2trA8/hq720.jpg?sqp=-oaymwEXCNUGEOADIAQqCwjVARCqCBh4INgESFo&rs=AOn4CLA7I8L5YdhCQu6SrWiI-8UClaAdwQ">
                    <p class="trending-video-name">Secret Healing Temple - Clear All ......</p>
                    <p class="trending-video-author">Relaxing Music by Fantasia Echoes</p>
                    <p class="trending-video-views">399K Views</p>
                    <p class="trending-video-duration">01:00:04</p>
                </div>
            </div>
        </div>
    </body>
</html>