<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tubefetch</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='/script/script.js') }}"></script>
    </head>
    <body>
        <div class="navbar">
            <h1 class="title">TUBEFETCH</h1>
            <div class="links">
                <a href="/">HOME</a>
                <a href="about">ABOUT</a>
                <a href="contact">CONTACT</a>
            </div>
        </div>
        <h1 class="maintitle">TUBEFETCH</h1>
        <form action="{{ url_for('videopage') }}">
            <input type="url" required placeholder="Paste you url here..." name="link" id="link">
            <div class="buttons">
                <input type="submit" value="Download Video">
                <input type="submit" value="Download Playlist">
            </div>
        </form>
    </body>
</html>