<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='/script/script.js') }}"></script>
    </head>
    <body>
        <div class="navbar">
            <a class="title" href="/">TUBEFETCH</a>
            <div class="links">
                <a href="/">HOME</a>
                <a href="about">ABOUT</a>
                <a href="contact">CONTACT</a>
            </div>
        </div>
        <h1 class="maintitle">TUBEFETCH</h1>
        <div class="video-content">
            <div class="video-left">
                <img src="{{ data['thumbnailURL'] }}" alt="thumbnail" class="thumbnail">
                <h5>{{ data['title'] }}</h5>
                <table>
                    <tr>
                        <td>Uploaded by: </td>
                        <td>{{ data['author'] }}</td>
                    </tr>
                    <tr>
                        <td>Viewed by: </td>
                        <td>{{ data['views'] }}</td>
                    </tr>
                    <tr>
                        <td>Length: </td>
                        <td>{{ data['duration'] }}</td>
                    </tr>
                </table>
                <form>
                    <button type="submit">Download all Videos</button>
                    <button type="submit">Download all Audios</button>
                </form>
            </div>
            <div class="playlist-right">
                {% for i in range(1, 21) %}
                    <div class="playlist-video-tile"><p>{{ i }} </p><p> {{ data['title'][0:61] }} </p><p> {{ data['views'] }} </p><p> {{ data['duration'] }}</p><a href="{{ data['thumbnailURL'] }}">Download</a></div><br>
                {% endfor %}
            </div>
        </div>
    </body>
</html>