<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/static/style/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/static/script/script.js"></script>
    </head>
    <body>
        <div class="navbar">
            <h1 class="title">TUBEFETCH</h1>
            <div class="links">
                <a href="/">HOME</a>
                <a href="about">ABOUT</a>
                <a href="contact">CONTACT</a>
            </div>
        </div>
        <h1 class="maintitle">TUBEFETCH</h1>
        <div class="video-content">
            <div class="video-left">
                <img src="{{ data['thumbnailURL'] }}" alt="thumbnail" class="thumbnail">
            </div>
            <div class="video-right">
                <h5>{{ data['title'] }}</h5><br>
                <table>
                    <tr>
                        <td>Uploaded by: </td>
                        <td>{{ data['author'] }}</td>
                    </tr>
                    <tr>
                        <td>Viewed by: </td>
                        <td>{{ data['views'] }}</td>
                    </tr>
                    <tr>
                        <td>Length: </td>
                        <td>{{ data['duration'] }}</td>
                    </tr>
                </table>
                <form>
                    <select id="resolution">
                        {% for i in data['Video Download URLs'] %}
                            <option value="{{ data['Video Download URLs'][i] }}">i</option>
                        {% end for %}
                        <option value="{{ data['Audio Download URL'] }}">Audio</option>
                    </select>
                    <button>Download</button>
                </form>
            </div>
        </div>
    </body>
</html>